{% extends 'main/layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Контакты
{% endblock %}

{% block link_content %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block header_content %}
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <nav class="menu">
                        <button class="menu__btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <ul class="menu__list">
                            <li class="menu__list-item"><a href="{% url 'home' %}" class="menu__list-link">Главная</a></li>
                            <li class="menu__list-item"><a href="{% url 'works' %}" class="menu__list-link">Работы</a></li>
                            <li class="menu__list-item"><a href="{% url 'catalog' %}" class="menu__list-link">Каталог</a></li>
                            <li class="menu__list-item"><a href="{% url 'contact' %}" class="menu__list-link menu__list-link--active">Контакты</a></li>
                            <li class="menu__list-item-acc">
                                {% if request.user.is_authenticated %}
                                {% csrf_token %}
                                    <a href="#" class="menu__list-link-main-acc">{{ request.user.first_name }}, </a>
                                    <a href="{% url 'logout' %}" class="menu__list-link-main-acc">Logout</a>
                                {% else %}
                                    <a href="{% url 'login' %}" class="menu__list-link-main-acc">Log-in</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
{% endblock %}


{% block main_content %}
            <section class="contacts">
                <div class="container">
                    <h2 class="section-title contacts__title"> Contact Us</h2>
                    <p class="contacts__text">
                        You can ask any question by simply filling out the form.
                        We will respond within 1 business day.
                    </p>
                    <form method="post" class="form" action=".">
                        {% if request.user.is_authenticated %}
                        {% csrf_token %}
                        {% render_field form.name class="form__input" placeholder="Name" type="text" value=request.user.first_name  %}
                        {% render_field form.from_email class="form__input" placeholder="Your E-mail" type="email" value=request.user.email %}
                        {% render_field form.message class="form__textarea" placeholder="Your text" %}
                        {% endif %}
                        <button class="form__btn" type="submit">SUBMIT</button>
                    </form>
                </div>
            </section>
{% endblock %}