{% extends 'main/layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Смена праоля
{% endblock %}

{% block link_content %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block main_content %}
            <section class="contacts">
                <div class="container">
                    <h2 class="section-title contacts__title">Reset your password</h2>
                    {% if validlink %}
                        <p class="contacts__text">
                            Please enter your new password twice:
                            <a href="{% url 'home' %}">home</a>
                        </p>
                        <form method="post" class="form" action=".">
                            {% csrf_token %}
<!--                            {{ form.as_p }}-->
                            {% render_field form.new_password1 class="form__input" placeholder="Your new password" %}
                            {% render_field form.new_password2 class="form__input" placeholder="Confirm password" %}
                            <ul>
                                <li class="contacts__text-reset">Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
                                <li class="contacts__text-reset">Ваш пароль должен содержать как минимум 8 символов.</li>
                                <li class="contacts__text-reset">Пароль не должен быть слишком простым и распространенным.</li>
                                <li class="contacts__text-reset">Пароль не может состоять только из цифр.</li>
                            </ul>
                            <button class="form__btn-reset" type="submit">Change my password</button>
                        </form>
                    {% else %}
                        <p>The password reset link was invalid, possibly because it has
                            already been used. Please request a new password reset.</p>
                    {% endif %}
                </div>
            </section>
{% endblock %}