{% extends 'main/layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block link_content %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block main_content %}
            <section class="contacts">
                <div class="container">
                    <h2 class="section-title contacts__title">Forgotten your password?</h2>
                    <p class="contacts__text">
                        Enter your e-mail address to obtain a new password.
                        <a href="{% url 'home' %}">home</a>
                    </p>
                    <form method="post" class="form" action=".">
                        {% csrf_token %}
                        {% render_field form.email class="form__input" placeholder="Input your Email" %}
                        <button class="form__btn" type="submit">Change</button>
                    </form>
                </div>
            </section>
{% endblock %}