{% extends 'main/layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Смена праоля
{% endblock %}

{% block link_content %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block main_content %}
            <section class="contacts">
                <div class="container">
                    <h2 class="section-title contacts__title">Password reset</h2>
                    <p class="contacts__text">
                        Password set
                    </p>
                    <p class="contacts__text">Your password has been set. You can
                        <a href="{% url 'login' %}">log in now</a>
                    </p>
                </div>
            </section>
{% endblock %}